body,
html {
	margin:auto;
	padding:0;
	color:#000;
	background:white;
}

#wrap {
	width: 1200px;
	margin:auto;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 1200px;
	padding: 0px 0px;
	background: white;
	font-family: Helvetica;
	font-size: 30px;
	text-align: left;
	list-style: none;
	font-style: oblique;
	font-weight: 400;
	background: white;
	z-index: 102;
}

#header  ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
	Sidebar
*/

#sidebar {
	float: left;
	position: fixed;
	left: 0;
	top: 100px;
	padding:50px;
	background: white;
	text-align: right;
	font-size: 20px;
	color: black;
	font-family:Helvetica;
	list-style: none;
	background: url(../logo/tunder_fly.jpg);
	background-size: 100px 100%;
	background-repeat: no-repeat;
	background-color: white;
	margin:auto;
	z-index:102;
}

#sidebar  ul {
	margin: 150;
	padding: 0;
	list-style: none;
}

#sidebar li {
	list-style: none;
	margin: 0;
	padding: 10px;
}

/* 
	Mainbody
*/

#main {
	float: left;
	margin-top: 75px;
	margin-left:250px;
	margin-right:250px;
	margin-bottom: 100px;
	position: static;
	width:900px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: white;
	font-family:Helvetica;
	box-shadow: 0px 0px 10px 3px grey;
	border-radius: 5px;
	word-wrap: break-word;
	z-index:0;
}

#thumbnails {
	margin-bottom: 10px;
	text-align: center;
}

.icon {
	margin: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px 3px grey;
	background-color: grey;
	border-radius: 5px;
}


#painting_slides {
	margin-top: 250px;
	margin-bottom: 250px;
	padding-top: 100px;
	padding-right: 75px;
	word-wrap: break-word;
	z-index:1;
}

#drawing_slides {
	margin-top: 250px;
	margin-bottom: 250px;
	padding-right: 75px;
	word-wrap: break-word;
	z-index:2;
}


/*
	Slideshow from http://slidesjs.com/
*/

#slides {
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:620px;
	position:relative;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	height: 620px;
	overflow:hidden;
	position:fixed;
	display:block;
	/*box-shadow: 0px 0px 10px 3px grey;*/
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:500px
	display:block;
	margin-top:10px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: grey;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 3px grey; 
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:15px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:570px;
}



/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/* 
	Lightbox Style From http://lokeshdhakar.com/projects/lightbox2/

*/

/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:logo/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../logo/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../logo/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}

/*
	Footer
*/

#footer {
	position: fixed;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
	text-align: right;
	padding: 5px 10ps;
	background: white;
	font-family:Helvetica;
	font-size: 10px;
}

#footer p{
	margin: 0;
}