body,
html {
	margin:auto;
	padding:0;
	color:#000;
	background:white;
}

#wrap {
	width: 1200px;
	margin:auto;
	background: yellow;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 1200px;
	padding: 0px 0px;
	background: white;
	font-family: Georgia;
	font-size: 30px;
	text-align: left;
	list-style: none;
	font-style: oblique;
	font-weight: 400;
	background: white;
}

#header  ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
	Sidebar
*/

#sidebar {
	float: left;
	position: fixed;
	left: 0;
	top: 100px;
	padding:50px;
	background: white;
	text-align: right;
	font-size: 20px;
	color: black;
	font-family:Georgia;
	list-style: none;
	background: url(../logo/tunder_fly.jpg);
	background-size: 100px 100%;
	background-repeat: no-repeat;
	margin:auto;
}

#sidebar  ul {
	margin: 150;
	padding: 0;
	list-style: none;
}

#sidebar li {
	list-style: none;
	margin: 0;
	padding: 10px;
}

/* 
	Mainbody
*/

#main {
	float: left;
	margin-top: 75px;
	margin-left:250px;
	margin-right:250px;
	margin-bottom: 100px;
	position: static;
	width:900px;
	padding-left: 50px;
	padding-top: 50px;
	background: white;
	font-family:Georgia;
	box-shadow: 0px 0px 10px 3px grey;
	border-radius: 5px;
	word-wrap: break-word;
	z-index:0;
}

/*
	Slideshow
*/

#slides {
	margin-top: 250px;
	margin-bottom: 250px;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:600px;
	position:relative;
	z-index:100;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:block;
	padding-left: auto;
	padding-right: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 3px grey;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

/*.slides_container a {
	width:600px
	display:block;
	box-shadow: 0px 0px 10px 3px grey; */
}

.slides_container a img {
	display:block;
	padding-right: auto;
	padding-left: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 3px grey;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:10px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Footer
*/

#footer {
	position: fixed;
	bottom: 0;
	margin:auto;
	text-align: right;
	padding: 5px 10ps;
	background: white;
	font-family:Helvetica;
	font-size: 11px;
}

#footer p{
	margin: 0;
}